body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.step {
    display: none;
}

.active {
    display: block;
}

.emoji-list, .color-list, .emoji-slide, .box-container, #colorPart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.emoji, .color, .box {
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
    cursor: pointer;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}